@charset "utf-8";
@import "node_modules/bulma/sass/utilities/initial-variables";

@media screen and (min-width: $desktop) {
  html {
    overflow: hidden !important;
  }
}

.navbar-dropdown {
  width: max-content;
}

.placeholder {
  font-size: $size-1;
}

#editor {
  height: 100vh;
}

@import "node_modules/bulma/bulma";

.navbar-item {
  cursor: pointer;
  &:hover {
    background: $navbar-dropdown-item-hover-background-color;
    color: $navbar-dropdown-item-hover-color;
  }
}
