@charset "utf-8";
@import "node_modules/bulma/sass/utilities/all";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$window-max-height: 70vh;
$window-min-width: 25vw;
$window-max-width: 70vw;

@media screen and (min-width: $desktop) {
  html {
    overflow: hidden !important;
  }
}

code, .code {
  border-radius: 2px;
  font-family: 'JetBrains Mono', monospace !important;
}

.index {
  background: url('assets/polygon-scatter-haikei.svg') no-repeat;
  background-size: 100%;
}

path.x.origin, path.y.origin {
  display: none;
}

summary {
  cursor: pointer;
}

.accordion {
  cursor: pointer;
}

.control-background {
  //background: url('assets/wave-haikei.svg') no-repeat 0 !important;
  background-size: 100% !important;
}

.channel-feature {
  cursor: pointer;
}

.channel-feature-checked {
  background: $success;
  color: $primary-invert;
  text-align: center !important;
}

.channel-feature-disabled {
  background: $grey-lighter;
  color: $white;
  text-align: center !important;
}

.h-100 {
  height: 100%;
}

.navbar-dropdown {
  width: max-content;
}

.placeholder {
  font-size: $size-1;
}

.profile-editor-code-function {
  color: #E06C75;
  font-variant-ligatures: none;
}

.profile-editor-code-keyword {
  color: #C678DD;
  font-variant-ligatures: none;
}

.profile-editor-code-number {
  color: #D19A66;
  font-variant-ligatures: none;
}

.profile-editor-code-operation {
  color: #56B6C2;
  font-variant-ligatures: none;
}

.profile-editor-code-parenthesis {
  color: #ABB2BF;
  font-variant-ligatures: none;
}

.profile-editor-error {
  background: transparent !important;
  color: inherit;
  padding: 0 !important;
}

.profile-title {
  align-items: center;
  display: flex !important;
}

.tooltip {
  cursor: pointer;
  position: fixed;
}

.track-header {
  ul {
    li {
      align-self: center;
    }
  }
}

.track-graph, .track-table {
  height: 100%;
  width: 100%;
}

.window {
  max-width: $window-max-width;
  min-width: $window-min-width;
  width: max-content !important;
}

.window-hook {
  cursor: move;
}

.window-wrap {
  height: max-content;
  max-height: $window-max-height;
  max-width: $window-max-width;
  min-width: $window-min-width;
  width: max-content;
}

#controls {
  width: 100%;
}

@import "node_modules/bulma/bulma";

$shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);

.about {
  height: calc(100vh - #{ $navbar-height });
  overflow: scroll;
}

.navbar-item:not(.is-unhoverable) {
  cursor: pointer;
  &:hover {
    background: $navbar-dropdown-item-hover-background-color;
    color: $navbar-dropdown-item-hover-color;
  }
}

.modal {
  box-shadow: $shadow;
}

.presentation {
  height: calc(100vh - #{ $navbar-height });
  width: 100%;
}

.profile-editor {
  background: $grey-dark;
  border-radius: 10px;
  color: $white-ter;
  font-family: 'JetBrains Mono', monospace;
  font-size: 13pt;
  line-height: 1.2;
  margin: 0;
  width: 50vw;

  .columns {
    margin: 0;
    width: 100%;
  }

  .profile-editor-line-number {
    border-right: 2px $grey solid;
  }

  .profile-editor-ta-wrap {
    position: relative;
  }

  code, code span {
    white-space: pre;
  }

  code, pre, textarea {
    font-family: 'JetBrains Mono', monospace;
    font-size: 13pt;
    line-height: 1.2;
  }

  pre {
    color: $white-ter;
    padding: 0;
    z-index: 998;
  }

  pre, textarea {
    background: transparent;
    overflow: auto;
    position: absolute;
    white-space: nowrap;
    width: calc(100% - 2 * #{ map-get($spacing-values, '3') });
  }

  textarea {
    border: none;
    caret-color: $white-ter;
    color: transparent;
    resize: none;
    z-index: 999;

    &:focus {
      outline: none;
    }
  }
}

.settings-data {
  cursor: pointer;
  &:hover {
    background: $table-row-hover-background-color;
    color: $table-color;
  }
}

.settings-data-selected {
  background: $table-row-active-background-color;
  color: $table-row-active-color;
}

.track-datum {
  cursor: pointer;
  fill: $red;
}

.workstation-body {
  height: calc(100vh - 2 * #{ $navbar-height } - #{ map-get($spacing-values, '4') });
  overflow-y: scroll;
}

.workstation-empty {
  height: 100%;
}
