.custom-modal-dismiss {
  height: 2rem;
  user-select: none;
  width: 2rem;
}

.custom-modal-dismiss.green {
  background: rgb(0, 213, 65) !important;
}

.custom-modal-dismiss.red {
  background: rgb(255, 59, 71) !important;
}

.icon-lg {
  font-size: 10rem;
}

.track {
  height: 100%;
}

.window {
  background: none !important;
}

/* range.css slider generator */
input[type=range] {
  width: 100%;
  margin: 9.45px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #0080ff;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1.1px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.45px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--primary-color);
}
input[type=range]::-moz-range-track {
  background: var(--primary-color);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1.1px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.35px 0;
  color: transparent;
  width: 100%;
  height: 1.1px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: var(--primary-color);
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: var(--primary-color);
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--primary-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--primary-color);
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the vertical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from https://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=range].disabled {
  display: none;
}